@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-crimsonRed: #d72638; /* Main buttons, highlights, brand color */
  --color-darkBurgundy: #780000; /* Navbar, headers, strong contrast sections */
  --color-softRosewood: #a52a2a; /* Secondary buttons, borders, accents */
  --color-lightGray: #f4f4f4; /* Backgrounds, cards, subtle UI elements */
  --color-warmWhite: #faf5ee; /* Main background, clean space */
  --color-charcoalBlack: #222222; /* Main text, high contrast for readability */
  --color-mutedSilver: #a0a0a0; /* Secondary text, icons, minor details */
  --color-SoftRed: #ffe5e5; /* Very soft red, near to white */
  --color-hoverSoftRed: #ffcccc; /* Slightly darker soft red for hover */
  --color-hoverDarkBurgundy: #ffeeee; /* Slightly darker dark burgundy for hover */
  /* Dark */
  --color-darkGray: #333333;
  --color-warmBlack: #222222;
  --color-charcoalWhite: #FAFAFA;
}

input:-webkit-autofill {
  background-color: #f4f4f4 !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

